body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin:10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #ddd;
}

main {
    flex-grow: 1;
    padding: 40px;
}

header, footer{
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

header {
    margin-bottom: 20px
}

footer {
    margin-top: 210px
}